/* Global styles */
html, body {
  overflow: hidden;
  height: 100%;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  overflow: hidden;
}

.main-content {
  padding: 0;
  flex: 1;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
}

