basePath: /api
definitions:
  handlers.RenameManagedFileRequest:
    properties:
      currents:
        items:
          type: string
        type: array
      project:
        $ref: '#/definitions/models.Project'
    type: object
  models.FileInfo:
    description: ファイルまたはディレクトリの情報
    properties:
      is_directory:
        description: Whether this item is a directory
        example: true
        type: boolean
      modified_time:
        allOf:
        - $ref: '#/definitions/models.Timestamp'
        description: Last modification time
      name:
        description: Name of the file or folder
        example: 2025-0618 豊田築炉 名和工場
        type: string
      path:
        description: FileService.BasePathからの相対パス
        example: 豊田築炉/2-工事/2025-0618 豊田築炉 名和工場
        type: string
      size:
        description: Size of the file in bytes
        example: 4096
        type: integer
    type: object
  models.ManagedFile:
    properties:
      current:
        description: FileService.BasePathからの相対パス
        example: 工事.xlsx
        type: string
      recommended:
        description: FileService.BasePathからの相対パス
        example: 2025-0618 豊田築炉 名和工場.xlsx
        type: string
    type: object
  models.Project:
    description: Construction project folder information with extended attributes
    properties:
      company_name:
        description: Additional fields specific to Project folders
        example: 豊田築炉
        type: string
      description:
        example: 工事関連の資料とドキュメント
        type: string
      end_date:
        allOf:
        - $ref: '#/definitions/models.Timestamp'
        description: Detail
      id:
        description: Calculated fields
        example: TC618
        type: string
      is_directory:
        description: Whether this item is a directory
        example: true
        type: boolean
      location_name:
        example: 名和工場
        type: string
      managed_files:
        description: Managed files
        items:
          $ref: '#/definitions/models.ManagedFile'
        type: array
      modified_time:
        allOf:
        - $ref: '#/definitions/models.Timestamp'
        description: Last modification time
      name:
        description: Name of the file or folder
        example: 2025-0618 豊田築炉 名和工場
        type: string
      path:
        description: FileService.BasePathからの相対パス
        example: 豊田築炉/2-工事/2025-0618 豊田築炉 名和工場
        type: string
      size:
        description: Size of the file in bytes
        example: 4096
        type: integer
      start_date:
        $ref: '#/definitions/models.Timestamp'
      status:
        example: 進行中
        type: string
      tags:
        example:
        - '[''工事'''
        - ' ''豊田築炉'''
        - ' ''名和工場'']'
        items:
          type: string
        type: array
    type: object
  models.Timestamp:
    description: Timestamp in RFC3339 format
    properties:
      time.Time:
        type: string
    type: object
host: localhost:8080
info:
  contact: {}
  description: ファイルエントリの管理と閲覧のためのAPI
  title: Penguin ファイルシステム管理API
  version: 1.0.0
paths:
  /file/fileinfos:
    get:
      consumes:
      - application/json
      description: 指定されたパスからファイルとフォルダーの一覧を取得します
      parameters:
      - default: ~/penguin
        description: 取得するディレクトリのパス
        in: query
        name: path
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: 正常なレスポンス
          schema:
            items:
              $ref: '#/definitions/models.FileInfo'
            type: array
        "500":
          description: サーバーエラー
          schema:
            additionalProperties:
              type: string
            type: object
      summary: ファイルエントリ一覧の取得
      tags:
      - ファイル管理
  /project/get/{path}:
    get:
      consumes:
      - application/json
      description: Projectを取得します。
      parameters:
      - description: Projectフォルダーのファイル名
        in: path
        name: path
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: Project
          schema:
            $ref: '#/definitions/models.Project'
        "500":
          description: サーバーエラー
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Projectの取得
      tags:
      - プロジェクト管理
  /project/recent:
    get:
      consumes:
      - application/json
      description: 最近の工事一覧を取得します。
      produces:
      - application/json
      responses:
        "200":
          description: 最近のプロジェクト一覧
          schema:
            items:
              $ref: '#/definitions/models.Project'
            type: array
        "500":
          description: サーバーエラー
          schema:
            additionalProperties:
              type: string
            type: object
      summary: 最近の工事一覧の取得
      tags:
      - プロジェクト管理
  /project/rename-managed-file:
    post:
      consumes:
      - application/json
      description: ManagedFileの名前を変更します。
      parameters:
      - description: 工事データと管理ファイル
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/handlers.RenameManagedFileRequest'
      produces:
      - application/json
      responses:
        "200":
          description: 更新後のファイル名リスト
          schema:
            items:
              type: string
            type: array
        "500":
          description: サーバーエラー
          schema:
            additionalProperties:
              type: string
            type: object
      summary: ManagedFileの名前を変更
      tags:
      - プロジェクト管理
  /project/update:
    post:
      consumes:
      - application/json
      description: Project.FileInfoで指定されたファイル情報をProjectのメンバ変数で更新します。
      parameters:
      - description: 工事データ
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/models.Project'
      produces:
      - application/json
      responses:
        "200":
          description: 更新後の工事データ
          schema:
            $ref: '#/definitions/models.Project'
        "500":
          description: サーバーエラー
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Project.FileInfoで指定されたファイル情報をProjectのメンバ変数で更新
      tags:
      - プロジェクト管理
schemes:
- http
swagger: "2.0"
